* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

h1 {
    font-size: 64px;
    margin-bottom: .1em;
}

header {
    margin: 10px;
    font-size: 24px;
}

.stars {
    display: flex;
    flex-wrap: wrap;
}

.star {
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    background: rgba(255, 255, 255, .4);
    transition: all .09s;
}

.star.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

.star img {
    display: block;
}

.star_name {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}